$day-size: 100px;
$gap-size: 1px;
$calendar-width: (($day-size * 7) + ($gap-size * 6));
$transition-duration: 0.5s;
$all-days: (
  monday: 1,
  tuesday: 2,
  wednesday: 3,
  thursday: 4,
  friday: 5,
  saturday: 6,
  sunday: 7
);
