$border-size: 1px;
$day-size: 100px;
$gap-size: 1px;
$calendar-width: (($day-size * 7) + ($gap-size * 6) + 20px);
$transition-duration: 0.5s;
$all-days: (
  sunday: 1,
  monday: 2,
  tuesday: 3,
  wednesday: 4,
  thursday: 5,
  friday: 6,
  saturday: 7,
);
